#filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;

}

#good-dog-filter {
  margin-top: 1vh;
  width: 35vw;
  font-size: 1em;
  height: 5vh;
  border-radius: 3em;
}

#dog-bar {
  height: 15vh;
  background: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#dog-bar span {
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  border: 2px solid blue;
  background-color: #B1E1FF;
}

#dog-bar span p {
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

#dog-summary-container {
  height: 75vh;
  text-align: center;
}

#dog-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#dog-info img {
  max-width: 75vw;
  max-height: 25vw;
}

#dog-info button {
  margin-top: 1vh;
  width: 20vw;
  font-size: 1em;
  height: 5vh;
  border-radius: 3em;
}

body {
  font-family: sans-serif;
  margin: 0;
}
